@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
.container{
    display: flex;
}

.item1{
    display: flex;
    flex-direction: column;
    background-color: #e4e3e3;
    color: #333;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item1 input{
    background-color: #FFF;
    width: 400px;
    height: 40px;
    border: none;
    border-radius: 4px;
    margin: 1px 0 3px 0;
    padding: 0 0 0 7px;
}

.titulo{
    text-align: start;
    width: 400px;
}

.item2{
    width: 50%;
    height: 700px;
    background-color: #6252A2;
    color: #fff;
}

.item2 img{
    width: 40em;
}

.item2 h1{
   font-size: 50px;
}

.botao{
    background-color: #d7d8e0;
    color: #333;
    font-size: 14px;
    width: 405px;
    height: 40px;
    border: none;
    border-radius: 4px;
    margin: 10px 0 0 0;
}

.botao:hover{
    background-color: #6252A2;
    color: #fff;
}